<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceConfig" name="Services.ClientUpdater">
        <endpoint address="clientupdater" binding="netTcpBinding"
          contract="Contracts.IClientUpdater" />
        <endpoint address="clientupdater" binding="basicHttpBinding"
          contract="Contracts.IClientUpdater" />
        <endpoint address="metadata" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9080" />
            <add baseAddress="http://localhost:8090" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceConfig">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>