<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BindingConfiguration" value="BasicHttpBinding_IClientUpdater" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientUpdater" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IClientUpdater" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9080/clientupdater"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IClientUpdater"
                contract="ClientUpdater.IClientUpdater" name="NetTcpBinding_IClientUpdater">
                <identity>
                    <userPrincipalName value="Hugo-PC\Hugo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8090/clientupdater" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientUpdater" contract="ClientUpdater.IClientUpdater"
                name="BasicHttpBinding_IClientUpdater" />
        </client>
    </system.serviceModel>
</configuration>